@import "variables";

.resource-tag {
    padding: 2px 5px !important;
    height: auto !important;
}

.resource-table {
    small {
        zoom: .9;
    }
    &.table-striped {
        tbody {
            tr {
                background-color: white;

                &:nth-of-type(odd) {
                    background-color: #f9f9f9;
                }

                &:hover {
                    transition: 0.5s;
                    background-color: rgba(0, 0, 0, 0.05);
                }

                .arrow-after-icon {
                    font-size: 30px;
                    cursor: pointer;
                }

                &.table-row {
                    &.after {
                        td {
                            background-color: white !important;
                            border-top: unset;
                            position: relative;
                            padding: 0;
                            margin: 0;

                            .spacer {
                                border-top: 1px solid #dee2e6;
                                position: relative;
                                height: 15px;

                                @if variable-exists(bgColor) {
                                    background-color: $bgColor;
                                }

                                @else {
                                    background-color: #edeff2;
                                }

                                width: 100%;
                                bottom: 0;
                            }

                            .content {
                                //
                            }
                        }
                    }
                }
            }
        }
    }

    thead {
        background-color: white;

        tr {
            height: 30px;

            th {
                padding: 8px;
                border-bottom: 1px solid #ccd0d4;

                .link-sortable {
                    font-size: 14px;
                    color: black;
                    text-decoration: unset;
                    font-weight: 400;

                    .sort-icon {
                        display: none;

                        &.active {
                            display: block;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 14px;

                .crud-btns {
                    display: none !important;
                }
            }

            &:hover {
                transition: 0.5s;

                .crud-btns {
                    display: block !important;
                }
            }
        }
    }
}

.dropdown-menu {
    &.filter {
        right: -5px;
        width: 500px;
        left: unset;
        -webkit-box-shadow: 10px 10px 28px 6px rgba(143, 143, 143, 1);
        -moz-box-shadow: 10px 10px 28px 6px rgba(143, 143, 143, 1);
        box-shadow: 10px 10px 28px 6px rgba(143, 143, 143, 1);
    }
}

.withFilter {
    border: 1px solid $primary;
}

.filter {
    &.withFilter {
        border: 1px solid $primary;
    }
}

html {
    scroll-behavior: smooth;
}

.row-responsive-table {
    @media screen and (max-width: 750px) {
        table {
            width: 100%;
        }

        td {
            display: block;
            width: 100%;
        }

        tr {
            display: block;
        }

        thead {
            display: none;
        }
    }
}

.note-btn {
    color: black !important;
}

ul.pagination {
    margin-top: 16px;
}

* {

    &:focus,
    &:active {
        outline: none !important;
    }
}

.el-drawer__header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.el-drawer__body {
    .row {
        max-height: calc(100vh - 95px);
        overflow-y: auto;
        margin: 0;

        .col-12 {
            padding-right: 0;
            padding-left: 0;
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.select-action-resource {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.table-crud {
    .w-25 {
        background-color: #f9f9f9;

        @media (max-width: 749px) {
            width: 100% !important;
        }
    }

    .input-title {
        font-weight: bold;
        font-size: 13px;
        color: #444;
    }
}

.f-12 {
    font-size: 12px;
}

.card-title {
    color: #444;
    font-size: 14px;
}

.crud-card-header {
    padding: 5px 13px !important;
}

.link-not-hovered {
    &:hover {
        text-decoration: none !important;
    }
}


.el-timeline-item__node--secondary {
    background-color: #6d6d6d !important;
}


@media screen and (max-width: 991px) {
    .flex-sm-column {
        flex-direction: column !important;
    }
}



.resource-step {
    .el-step__title {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 767px) {
.table-responsive-sm {
    overflow-x: auto;
    max-width: 100%;
  }

  .resource-pagination {
      .pagination-content {
        flex-wrap: wrap;
        justify-content: flex-end!important;

        .pagination-row {
            flex-wrap: wrap;
            justify-content: flex-end!important;
        }
        
        .nav-scroller {
            .ml-3 {
                margin-left: 0 !important;
            }
            .pagination {
                flex-wrap: wrap!important;
            }
        }
    }
  }

  .sm-mt-4 {
        margin-top: 15px !important;
    }


  .sm-w-100 {
      width: 100% !important;
  }

  .resource-btn {
    margin-left: auto!important;
  }

  .el-drawer.rtl {
      width: 100%!important;
  }
}
