<?php
namespace App\Http\Models;
use marcusvbda\vstack\Models\DefaultModel;
class _MODEL_NAME extends DefaultModel
{
    protected $table = "_TABLE_NAME__";
    // public $cascadeDeletes = [];
    // public $restrictDeletes = [];
    // public static function hasTenant() //default true
    // {
    //     return true;
    // }
}