<?php 
namespace App\Http\Filters\_RESOURCE_NAME_;
use  marcusvbda\vstack\Filter;

class _FILTER_NAME_ extends Filter
{
    
    public $component   = "_TYPE_";
    public $label       = "_LABEL_";
    public $placeholder = "";
    public $index = "_INDEX_";

    public function __construct()
    {
        $this->options[] = (Object) ["value"=>1,"label"=>"lorem ipsum"];
        parent::__construct();
    }
    
    public function apply($query, $value)
    {
        //filter logic here...
        return $query;
    }
}