<?php 
namespace App\Http\Filters\custom;
use  marcusvbda\vstack\Filter;

class _FILTER_NAME_ extends Filter
{
    public $component   = "_TYPE_";
    public $label       = "_LABEL_";
    public $index       = "_INDEX_";
    

    public function __construct()
    {
        $this->element = "<input class='form-control' v-model='filter.".$this->index."'  @change='makeNewRoute' />";
        parent::__construct();
    }
    
    public function apply($query, $value)
    {
        //filter logic here...
        return $query;
    }
}