<?php 
namespace App\Http\Metrics\teste;
use  marcusvbda\vstack\Metric;
use Illuminate\Http\Request;

class _NAME_ extends Metric
{
    public $type   = "_TYPE_";
    public function calculate(Request $request)
    {
        //return data here...
        return ["lorem ipsum" => 12,"ipsum lorem" => 55];
    }

    

    //required and unique
    public function uriKey()
    {
        return "_INDEX_";
    }
}